:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

html *
{
   font-family: Arial !important;
}
#container {
  display: grid;
  padding: 1em;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 500px;
  height: 500px;
  border: 1px solid #ddd;
  background: #f1f1f1;
}  

#undo-div {
  padding-top: 1em;
}

.grid-item {
  /* padding: 1em; */
  border: 1px solid #ddd;
}

.selected {
  border: 4px solid #ffe086;
}

.selected-for-move {
  border: 4px solid #89ff00;
}

#level {
  font-size: larger;
  padding-top:10px;
}

#you-did-it {
  font-size: larger;
  padding-top:10px;
}

#game-over {
  font-size: larger;
  color: red;
}

#heading {
  width: 535px;
  font-size:30px;
  text-align: center;
}

#subheading {
  width: 535px;
  text-align: center;
}

#help {
  float:right;
}

#random-board {
  font-size: larger;
}

#help-modal {
  color: #2218ab;
  border-radius: 3px;
  left: 40%;
}

@media (min-width: 482px) {

  #center-div {
    width: 1ch;
    height: 1ch;
    border-radius: 0.5ch;
    background: red;
    margin: auto;
  }
}

/* for phones */
@media screen and (max-width: 481px) {
  #container {
    width: 350px;
    height: 350px;
    grid-gap: 1ch;
    padding: 1ch;
  }
  #heading {
    width: 350px;
  }

  #subheading {
    width: 350px;
  }

  #center-div {
    width: 1ch;
    height: 1ch;
    border-radius: 0.5ch;
    background: red;
    margin: auto;
  }
}
